BR2_arm=y
BR2_arm926t=y
BR2_JLEVEL=4
BR2_OPTIMIZE_2=y
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="2.6.38"
BR2_GCC_VERSION_4_6_X=y
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TARGET_GENERIC_HOSTNAME="e10-recovery"
BR2_TARGET_GENERIC_ISSUE="E10 Recovery Image 20120110"
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_UDEV=y
BR2_ROOTFS_POST_BUILD_SCRIPT="board/synapse/e10/post-build.sh"
BR2_PACKAGE_BZIP2=y
BR2_PACKAGE_MTD=y
BR2_PACKAGE_UBOOT_TOOLS=y
BR2_PACKAGE_UBOOT_TOOLS_MKIMAGE=y
BR2_PACKAGE_DROPBEAR=y
BR2_PACKAGE_DROPBEAR_DISABLE_REVERSEDNS=y
BR2_PACKAGE_LRZSZ=y
BR2_PACKAGE_NCFTP=y
BR2_PACKAGE_PORTMAP=y
BR2_PACKAGE_DIALOG=y
BR2_PACKAGE_LOCKFILE_PROGS=y
BR2_PACKAGE_NANO=y
BR2_TARGET_ROOTFS_INITRAMFS=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="2.6.38"
BR2_LINUX_KERNEL_PATCH="http://jcu.homelinux.org/rrd/2.6.38-at91-jc.patch.gz"
BR2_LINUX_KERNEL_USE_CUSTOM_CONFIG=y
BR2_LINUX_KERNEL_CUSTOM_CONFIG_FILE="board/synapse/e10/linux-2.6.38-config"
