BR2_arm=y
BR2_ARM_OABI=y
BR2_CCACHE=y
BR2_HAVE_DOCUMENTATION=y
BR2_HAVE_DEVFILES=y
BR2_KERNEL_HEADERS_VERSION=y
BR2_DEFAULT_KERNEL_VERSION="2.6.38"
BR2_TOOLCHAIN_BUILDROOT_LARGEFILE=y
BR2_TOOLCHAIN_BUILDROOT_INET_RPC=y
BR2_TOOLCHAIN_BUILDROOT_LOCALE=y
BR2_TOOLCHAIN_BUILDROOT_PROGRAM_INVOCATION=y
BR2_TOOLCHAIN_BUILDROOT_CXX=y
BR2_ROOTFS_DEVICE_CREATION_DYNAMIC_UDEV=y
BR2_ROOTFS_DEVICE_TABLE="target/generic/device_table.txt target/generic/device_table_dev.txt"
BR2_PACKAGE_UDEV_UTILS=y
BR2_PACKAGE_UDEV_VOLUME_ID=y
BR2_PACKAGE_UDEV_SCSI_ID=y
BR2_PACKAGE_UDEV_PATH_ID=y
BR2_PACKAGE_UDEV_FIRMWARE_SH=y
BR2_PACKAGE_USB_MODESWITCH=y
BR2_PACKAGE_USBUTILS=y
BR2_PACKAGE_USBUTILS_ZLIB=y
BR2_PACKAGE_EXPAT=y
BR2_PACKAGE_NANO=y
BR2_LINUX_KERNEL=y
BR2_LINUX_KERNEL_CUSTOM_VERSION=y
BR2_LINUX_KERNEL_CUSTOM_VERSION_VALUE="2.6.38"
BR2_LINUX_KERNEL_PATCH="2.6.38-at91.patch"
BR2_LINUX_KERNEL_DEFCONFIG="connect-e10"
